.not-found-container-bg {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.not-found-container {
  width: 90%;
  max-width: 556px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

.not-found-container p {
  text-align: center;
  color: rgb(161, 168, 174);
}

.img-con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-con img {
  width: 80%;
}
